*.exe
*.out
*.app
*.o
*.so
*.dll

/bin/
/obj/
/vendor/
/dist/
/build/
node_modules/

/go/
/pkg/
/tmp/
/.cache/
/coverage.out


# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

*.log
*.bak
*.test
*.pid
debug.log

docker-compose.override.yml
docker-compose.yml
*.dockerfile
*.tar

kratos.yml
kratos.db

*.pem
*.key
*.crt
*.pfx
*.json
secrets/
certs/

.yarn/
.pnpm-store/
*.lock
.DS_Store
public/build/
